@model IEnumerable<Twitter.Models.Post>

@{
    ViewBag.Title = "Start Page";
}

<h2>Title</h2>
<div class="container">
    @foreach (var post in Model)
    {
        @Html.Partial("PostDetails")
        <br />
        <br />
    }
</div>
@section scripts { @*MAKE THIS ADD A PERSON TO FOLLOW ASYNC*@ 
    <script>
            $("div.voteup").click(function () {
                var that = $(this);
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("VoteUp", "Reddit")",
                    data: { id: $(this).data("id") }
                }).done(function (msg) {
                    that.next().html(msg);
                    that.unbind("click");
                }
                )
            })
    </script>
}