@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Twitter by Scott</h1>
    <p class="lead">Microblogging </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-9">
            <div></div>
        </div>
    </div>
</div>