<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://lab6jason.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lab6jason.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Lab6Jason</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Lab6Jason</UserName>
    <_SavePWD>True</_SavePWD>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:t2t1w4e2ej.database.windows.net,1433;Initial Catalog=Lab6Jason_db;User ID=tiyclass@t2t1w4e2ej;Password=will2292" Name="Data Source=tcp:t2t1w4e2ej.database.windows.net,1433;Initial Catalog=Lab6Jason_db;User Id=tiyclass@t2t1w4e2ej;Password=will2292;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Week6LabTwitter.Models.TwitterDbContext, Week6LabTwitter" MigrationConfiguration="Week6LabTwitter.Migrations.Configuration, Week6LabTwitter" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:t2t1w4e2ej.database.windows.net,1433;Initial Catalog=Lab6Jason_db;User Id=tiyclass@t2t1w4e2ej;Password=will2292;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>